:root {
    --primary: #aac526;
    --hover: #97a93b;
    --bg-myNavbar: #39393b;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

#myNavbar {
    background-color: var(--bg-myNavbar);
}

a {
    text-decoration: none;
}

#gradient {
    position: relative;
    margin-left: auto;
    background: rgb(170,197,38);
    background: linear-gradient(90deg, rgba(170,197,38,1) 0%, rgba(57,57,59,1) 100%); 
}

.breadcrumb {
    --bs-breadcrumb-divider-color: rgb(174, 174, 174);
}

h2,
#navbarSupportedContent ul a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#asideMenu {
    position: fixed;
    background-color: var(--primary);
    color: black;
    min-height: 100%;
}

#asideMenu a {
    color: black;
}

#asideMenu a:hover {
    color: black;
    background-color: var(--hover);
}

#asideMenu .accordion {
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: black;
    --bs-accordion-bg: none;
    --bs-accordion-border-color: var(--primary);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:hover {
    text-decoration: underline !important;
}

#config {
    text-decoration: underline;
}

#content {
    background-color: var(--bg-myNavbar);
    min-height: 100vh;
}

.divButtons button {
    border: 1px solid;
    border-radius: 6px;
}

#btnSearch {
    background-color: #6610f2;
}

.form-box {
    padding: 8px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
}

.input-text {
    text-decoration: none;
    --bs-form-control-bg: transparent;
    padding-left: 0;
    border: 0px;
    border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.checkbox {
    background-color: transparent;
}

.checkbox:checked {
    background-color: transparent !important;
    border-color: white;
}

.input-text-underline {
    border-bottom: 1px solid white;
}

.input-text:focus,
.checkbox:focus {
    box-shadow: none;
}
